body{
    margin: auto;
    padding:0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Main{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    border-radius: 20px;
    width: 80vw;
    background-color: white;
}
.head{
    /* background-image: linear-gradient(to right,blue,violet,pink); */
  height:15vh;
  width:60vw;
  color:black;
  font-weight: bold;
  margin-top: -21px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px 7px 0px 0px;


}
.days{
    /* background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet); */
    height: 7vh;
    width:60vw;
    color:black;
    border:1px solid black;
    font-weight: bold;
    display: flex;
  align-items: center;
  justify-content: space-around;
 
}


.dates{
    display: flex;
 
  flex-wrap: wrap;
    height:59vh;
    width:60vw;
    /* background-image: linear-gradient(to right,rgb(167, 110, 5),green,blue); */
    color: black;
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
    font-weight: 14px;


}
.container{
    /* background-color: red; */
    height:77vh;
    border-radius: 5px;
    
  
    

}
.days div:hover{
    background-color:gray;
   
}

.prev:hover,.next:hover{
    background-color: gray;
    height:50px;
    width:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev,.next{
    /* background-color: rgba(0, 0, 0 ,0.1); */
    height:50px;
    width:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4;
    background-color:green;
    color:white
  
}

.dates div{
    width:11.3%;
    background-color: rgba(0,0,0,0.1);
    margin: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
#prevdatee{
    color:rosybrown
 
}
#datee{
    color: whitesmoke;
}
.today1{
  
    color:green;
 
}

.prevMonthsDate{
    color: gray;
  
}

.title{
    font-size: xx-large;
    font-weight: bold;
    /* background-image: linear-gradient(to right,rgb(167, 110, 5),red,yellow); */
    color:black;
    padding-bottom: 1rem;
    margin: 2px;

}
.header{
    display: flex;
    justify-content: center;
}
.header1, .header3{
    display:flex;
    border:1px solid black;
    height:10vh;
    width:17vw;
    margin:20px;
    position: relative;
}
.h11{
    position: relative;
    bottom:8px;
    left:10px
}
.next{
    position: relative;
    top:20px;
   margin-left:24px
}
.h12{
    position: relative;
    bottom:8px;
    right:1px;
    left:10px
}
.next{
    position:relative;
    left:0px;
   top:0px;
     
}
.h{
    
   position:absolute;
   top:95px;
   left:930px
}
.header2{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}